* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing {
  width: 100vw;
  height: 100vh;
  background: black;
}

/* Logo fixed at top-left */
.landing-logo {
  position: fixed;
  top: 0;
  left: -95px;

  width: 300px;
  height: auto;
}
